<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Getting Started: Handling Form Submission</title>
        <link rel="stylesheet" href="css/result.css"/>
    </head>
    <body>
        <section class="home-bg img-responsive gray" data-type="parallax" style="background: url('images/back2.png') no-repeat fixed center top / cover;width:100%;height:100%; position: relative;">
    <form>
            	<h1>Result2</h1>
    
    <legend th:text="'Welcome ' + ${requiredFaculty.eMail}" />
    </form>
    <fieldset>
     <th:block th:each="items: ${requiredFaculty.subjectlist}" >
    		<a th:href="@{/subjectpage3(item=${items},email=${requiredFaculty.eMail})}" >  <p th:text="${items}" />  </a>  
	</th:block>


        </fieldset>
        
     
        </section>
    </body>
</html>