<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<!-- <meta name="google-signin-client_id" content="786501435773-hnnm3km6cn56htjepb05tr8fpih0arl0.apps.googleusercontent.com"></meta>  -->
<meta name="google-signin-client_id" content="475734123826-3c1gan8qjf85grihv0h44pg763jv72o1.apps.googleusercontent.com"></meta>
<title>GoogleAuth</title>
</head><body>
<script src="http://apis.google.com/js/platform.js" async="defer"></script>
<br></br>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<br></br>
<a href="#" onclick="signOut();">Sign out</a>
<br></br>
<script>
gapi.load(auth2,function()
{
	gapi.auth2.inti();
	});

function onSignIn(googleUser) 
{
	  var profile = googleUser.getBasicProfile();
	  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
	  console.log('Name: ' + profile.getName());
	  console.log('Image URL: ' + profile.getImageUrl());
	  console.log('Email: ' + profile.getEmail());
	  
	}

  function signOut() 
  {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>
</html>