<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Site Properties -->
  <title>Login Example - Semantic</title>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/reset.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/site.css"/>

  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/container.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/grid.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/header.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/image.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/menu.css"/>

  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/divider.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/segment.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/form.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/input.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/button.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/list.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/message.css"/>
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/icon.css"/>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://semantic-ui.com/dist/components/form.js"></script>
  <script src="http://semantic-ui.com/dist/components/transition.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[2]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>

<body>
	
   

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="http://semantic-ui.com/examples/assets/images/logo.png" class="image"/>
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" action="#" th:action="@{/login2}" th:object="${faculty}" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address" th:field="*{eMail}"/>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" th:field="*{password}" />
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>

</body>
</html>