<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
       
        <link rel="shortcut icon" href="http://www.coolappse.com/ico.ico"/>
        <link rel="apple-touch-icon" href="http://www.coolappse.com/appleicon.png"/>

        <link href="http://www.coolappse.com/css/main.css" rel="stylesheet"/>
        <link href="http://www.coolappse.com/css/fonts.css" rel="stylesheet"/>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css"/>
       
</head>
<body class="notfound" data-feedly-mini="yes">
        <div class="wrapper">
            <div class="big">OOPS! YOU HAVE ENTERED WRONG CONFIRM PASSWORD</div>
            <div>WHY DON'T YOU TRY AGAIN <a href="/register/faculty2">SIGNUP</a>.</div>
        </div>
    
</body>
</html>