<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/successstyle.css" />
</head>
<body>
	<div id="display-success">
			<img src="../img/correct.png" alt="Success" /> You are registered successfully.
		</div>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
		Go back to <a href="/login2">Login Page.</a>
</body>
</html>